@font-face {
    font-family: 'Winter';
    src: url(../font/mottelnight-font-1701939365-0/Mottelnight-BF656e9b4e36197.otf);

}

@font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'KNUTRUTHTTF';
}

#wrap {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
    padding: 0;
}

.sc {
    width: 100%;
    display: flex;
    justify-content: center;

}

.sec0 {
    position: relative;
    background: url(../img/sec0_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_font {
    font-size: 100px;
    margin: 20% auto;
    font-family: 'winter';
    color: #f7f7f7;


}

.main_p {
    display: flex;
    gap: 10px;
}

.sec1 {
    background: url(../img/sec1_bg.jpg);
    background-size: cover;
    position: relative;

}

.info_p {
    width: 400px;
    height: 100px;
    padding: 50px 0;
    font-size: 22px;
   
    line-height: 50px;
    transition: all 1s;
}

.sec1_box>span {
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 600;
}

.sec1_box>span:nth-child(1) {
    font-size: 20px;
    font-weight: 900;
    padding-top: 5px;
}

.sec_info_box {
    width: 60%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 100px 0;
    margin: 143px auto;
    border-radius: 30px;
    display: flex;
}

.snowman {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    right: 30%;
}

.snowman div:nth-child(1) {
    background: url(../img/snowman1.png) center /cover;
    width: 100%;
    height: 100%;
}

.inbox_bottom {
    height: 30%;
    width: 100%;
    background: #fff;
}

.inbox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 50%;
    align-items: center;
    overflow: hidden;
}

.sec1_box {
    width: 300px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 4px 4px 12px 4px #5f5f5f;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateX(200%);
    transition: all 1s;
}

.info_box_R>div:nth-child(2) {

    transition-delay: 0.2s;
}

.info_box_R>div:nth-child(3) {
    transition-delay: 0.4s;
}

.info_box_R>div:nth-child(4) {
    transition-delay: 0.6s;
}

.info_img_L {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_img {
    width: 300px;
    height: 300px;
    border: 10px solid #492828;
    border-radius: 50%;
    background: url(../img/my.png) #fff;
    background-size: cover;
    background-position: center;
}

.info_name {
    width: 320px;
    height: 50px;
    background-color: #fff;
}

.sec2 {

    position: relative;
    background: url(../img/sec2_bg.jpg) center / cover;
}

.click {
    width: 150px;
    height: 150px;
    background: url(../img/click1.png) center / cover;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: rotate(250deg);
    z-index: 9;
}

.prebox {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
}

.sec_pre_box1 {
    background: url(../img/close_box.png) center / cover;
}

.sec_pre_box2 {
    background: url(../img/open_box.png) center / cover;

}
.sec2{
    height: 100vh;
}
#sec2_box {
    align-items: flex-end;
    margin-top: 3%;
    width: 60%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    display: flex;
}

.bar_box {
    width: calc(100%/5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.bar_name {
    width: 160px;
    height: 220px;

}

.html {
    background: url(../img/html.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10%;
    left: 10%;
}

.css {
    background: url(../img/css.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10%;
    left: 40%;
}

.js {
    background: url(../img/js.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10%;
    left: 70%;
}

.jq {
    background: url(../img/jq.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 10%;
    left: 20%;
}

.react {
    background: url(../img/react.png);
    background-size: cover;
    background-position: center;
    width: 200px !important;
    height: 220px !important;
    position: absolute;
    bottom: 10%;
    left: 60%;
}

.sec3 {
    background: url(../img/sec3_bg.jpg) center / cover;
}

.sec4 {
    height: 100vh;
    background: url(../img/sec4_bg.jpg)center /cover;
}

.btn_ul {
    position: fixed;
    right: 50px;
    top: 0;
    display: flex;
    gap: 10px;
    z-index: 9;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 60px;
    color: #fff;
    font-weight: 900;
    animation-name: btn;
    animation-direction: alternate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* background: url(../img/pan.png); */
    background-size: cover;

}

.about_btn {
    animation-delay: 0.1s;
}

.skill_btn {
    animation-delay: 0.4s;
}

.project_btn {
    animation-delay: 0.7s;
}

.contact_btn {
    animation-delay: 1s;
}

@keyframes btn {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }

}

.display_block {
    display: block;
}

.display_none {
    display: none;
}

.opacity_0 {
    opacity: 0;
    transition: all 1s;
}

.opacity_1 {
    opacity: 1;
    transition: all 1s;
    transform: translate(150%, 0%);
}

.scale_0 {
    transform: scale(0);
    transition: all 1s;
    transform-origin: bottom;
}

.scale_1 {
    transform: scale(1);
    transition: all 1s;
}

.sec3_box {
    width: 90%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 80px 0;
    margin: 100px auto;
    border-radius: 30px;
    display: flex;
}

.new {
    width: calc(100%/2);
}

.sec3_box>section {
    width: 100%;
    height: 100%;
    max-height: 800px;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: red;
}

.swiper {
    width: 600px;
    height: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_img1{
    width: 100%;
    height: 100%;
    background: url("../img/cube/mario1.png")top /cover;
}
.swiper_img2 {
    width: 100%;
    height: 100%;
    background:url("../img/cube/mario2.png")top / cover;    
}
.swiper_img3 {
    width: 100%;
    height: 100%;
    background:url("../img/cube/mario3.png")top / cover;    
}
.swiper_img4{
    width: 100%;
    height: 100%;
    background:url("../img/cube/mario4.png") top / cover;    
}
.swiper_img5{
    width: 100%;
    height: 100%;
    background:url("../img/cube/focho1.png") top / cover;    
}
.swiper_img6{
    width: 100%;
    height: 100%;
    background:url("../img/cube/focho2.png") top / cover;    
}
.swiper_img7{
    width: 100%;
    height: 100%;
    background:url("../img/cube/focho3.png") top / cover;    
}
.swiper_img8{
    width: 100%;
    height: 100%;
    background:url("../img/cube/focho4.png") top / cover;    
}
.p_box {
    height: 400px;
    font-size: 20px;
    font-weight: 900;
}

.p_name {
    font-size: 40px;
    padding: 10px 0;
}

.p_div {
    padding: 50px 0;
}

.s_b {
    color: #fff;
    padding: 4px 15px;
    border-radius: 10px;
}

.b_h {
    background-color: #e0120f;
}

.b_c {
    background-color: #08a936;
}

.b_js {
    background-color: #174199;
}

.b_jq {
    background-color: #6eb61f;
}

.b_h1 {
    background-color: #05ccc5;
}

.b_c1 {
    background-color: #05ccc5;
}

.b_js1 {
    background-color: #05ccc5;
}

.b_jq1 {
    background-color: #05ccc5;
}

.p_box>span {
    display: block;
    width: 70%;
    text-align: left;
    line-height: 50px;
}

.box_outer {
    height: 300px;
    margin: 300px auto;
    display: flex;
    gap: 100px;
}

.contact_box {
    width: calc(1000px / 3);
    height: 100%;
    border-radius: 50px;
}

.con_1:hover {
    background: linear-gradient(45deg, #b67831, #a57641)
}

.con_2:hover {
    background: linear-gradient(45deg, #0a3233, #0a3233)
}

.con_3:hover {
    background: linear-gradient(45deg, #8d3030, #8d3030)
}

.con_1 {
    background: linear-gradient(45deg, #f5a141, #ffb765);
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.2);
}

.con_2 {
    background: linear-gradient(45deg, #115A5B, #104344);
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.2);
}

.con_3 {
    background: linear-gradient(45deg, #e74f4f, #ad3b3b);
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.2);
}

.contact_box>a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.con1_img {
    background: url(../img/email.png) center / cover;
    margin: 70px auto 0;
    text-align: center;
    width: 150px;
    height: 150px;
}

.con2_img {
    background: url(../img/kkao.png) center / cover;
    margin: 70px auto 0;
    text-align: center;
    width: 150px;
    height: 150px;
}

.con3_img {
    background: url(../img/github.png) center / cover;
    margin: 70px auto 0;
    text-align: center;
    width: 150px;
    height: 150px;
}

.con1_img~span,
.con2_img~span,
.con3_img~span {
    font-size: 20px;
    font-weight: 900;
}
